DB_HOST=db
DB_USER=root
DB_PASS=
DB_NAME=user_management

APP_BASE_URL=http://localhost:8080/
APP_INTERNAL_BASE_URL=http://127.0.0.1

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@example.com
SMTP_PASSWORD=your-app-password
SMTP_FROM_EMAIL=your-email@example.com
SMTP_FROM_NAME=PEPO System
RESET_TOKEN_EXPIRY=60
